@import url(https://db.onlinewebfonts.com/c/157c6cc36dd65b1b2adc9e7f3329c761?family=Amazon+Ember+Regular);
*{
  margin: 0;
  padding: 0;
 }
 body {
  margin: 0;
  font-family: "Amazon Ember Regular";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #e3e6e6 !important;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.fs-12{
  font-size: 12px;
}
.fs-13{
  font-size: 13px;
}
.fs-10{
  font-size: 10px;
}
/* .btn-primary {
  background-color: #e6e6e6 !important;
  color: black !important;
  border: none !important;
} */
.pro-img{
  width: 100%;
  height: 100%;
}
.card{
  border-radius: 0 !important;
  border: none !important ;
}
.pro-images{
  height: 100px;
}
.prod-card{
  padding: 20px;
  height: 100% !important;
  cursor: pointer;
}
.scroll-img{
  height: 100%;
}
.slide-card{
  padding: 20px;
  cursor: pointer;
}
.react-multiple-carousel__arrow--right {
  right: calc(4% + 1px);
  top: calc(20% + 1px);
}
.react-multiple-carousel__arrow--left {
  left: calc(4% + 1px);
  top: calc(20% + 1px);
}
.under {
  position: absolute;
  width: 100%;
  height: 100%;
}

.over {
  position: relative;
  width: 100%;
  margin-top: 280px;
  z-index: 1; 
}
.btn-back{
  background-color: #37475a !important;
}
.footer-list{
  list-style-type: none !important;
}
.badge-off{
  background-color: #cc0c39;
}
.footer-bottom{
  background-color:  #131a22;
}
.text-mute{
  color: #99997a;
}
.link-hover:hover{
  text-decoration: underline !important;
}
.card-link:hover{
  color: red;
}
.menu:hover{
  border: 1px solid white !important;
}
.link-truncate {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 4;
}
.canvas-hover:hover{
  background-color: #eaeded !important;
}
.result-menu:hover{
  color: #e47911 !important;
  padding-bottom: 5px;
  border-bottom: 2px solid #f90;
}